@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

.Toastify__progress-bar {
  background: #8b57c6;
  &--bg {
    background: #8b57c6;
  }
}
.Toastify__toast {
  width: 280px;
  background: #191919;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: #212123;
  color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
.menu {
  width: 100%;
  height: 423px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 850px) {
  .menu {
    height: 300px;
  }
}
