.row {
  display: flex;
  align-items: center;
  gap: 227px;
  padding: 20px;
  justify-content: flex-start;
}
.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link {
  position: relative;

  .favorites,
  .cart {
    transition: 0.2s;
  }

  svg:hover {
    .favorites {
      stroke: #8b57c6;
    }
    .cart {
      fill: #8b57c6;
    }
  }
}
.count {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #8b57c6;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -6px;
  bottom: 0;
  font-weight: 600;
}
@media (max-width: 850px) {
  .row {
    gap: 40px;
  }
}
@media (max-width: 540px) {
  .row {
    flex-direction: column;
    gap: 20px;
  }
  .info {
    gap: 20px;
  }
}
